body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', Helvetica, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #f1dfc1; */
  background-color: #EBECF5;
  background-color: #F4F3F6;
  background-color: #EDE8E3;
  background-color: #EDE8DC;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', Helvetica, sans-serif;
}
.blueBtn {
  background-color: #204764 !important;
  color:white !important;
}
.blueBtn:hover{
    opacity:0.9; }
.rubrik {
  color: #204764;
  font-weight:400;
}
footer {
  font-size: 0.9rem;
  background-color: #F4F3F6;
}

@media only screen and (max-width: 530px) {
  #app {
    font-size: 0.8rem;
    margin:0 auto;
  }
  .lead {
    font-size: 1rem !important;
  }
  footer {
    font-size: 0.8rem;
  }
}
