body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  background-color: #EDE8E3;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
}
